@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Inter' ,sans-serif;
        line-height: 1.3;
    }
    th,td{
        @apply py-3 px-2.5 text-sm text-left border-y border-gray-200;
    }
    thead{
        @apply bg-neutral-100;
    }
    th{
        @apply font-semibold;
    }
    a{
        @apply text-sky-500 hover:underline;
    }
}
@keyframes rotateAndBack {
    0%, 100% {
      transform: scaleX(-1); /* Start and end state: horizontal flip */
    }
    50% {
      transform: scaleX(1); /* Middle state: back to original */
    }
  }
  
  .animate-rotate-and-back {
    animation: rotateAndBack 2s infinite; /* Change the duration as needed */
  }
  
  
  